@font-face {
    font-family: Bauh;
    src: url(/assets/BAUHS93.TTF);
} 

header p {
    font-family: Bauh;
    color: var(--pine-theme);
}

footer {
	position: absolute;
	bottom: 3vw;
	color: var(--pine-darkfg);
}
